<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/icon/master.jpg"></ion-img>
  
      </ion-avatar>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip>
    <ion-avatar>
      <img src="/assets/master.jpg">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>
</ion-content>
